<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://mapi.159cai.com/discovery/notice/2017/0319/25822.html</string>
		<key>time</key>
		<string>03-19</string>
		<key>title</key>
		<string>竞彩篮球周日311暂停销售</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://mapi.159cai.com/discovery/notice/2017/0316/25767.html</string>
		<key>time</key>
		<string>03-16</string>
		<key>title</key>
		<string>竞彩篮球周日320暂停销售</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://mapi.159cai.com/discovery/notice/2017/0315/25717.html</string>
		<key>time</key>
		<string>03-15</string>
		<key>title</key>
		<string>竞彩篮球周日306暂停销售</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://mapi.159cai.com/discovery/notice/2017/0313/25682.html</string>
		<key>time</key>
		<string>03-13</string>
		<key>title</key>
		<string>周五038比赛取消</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://mapi.159cai.com/discovery/notice/2017/0307/25532.html</string>
		<key>time</key>
		<string>03-12</string>
		<key>title</key>
		<string>竞彩篮球周一308比赛推迟</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://mapi.159cai.com/discovery/notice/2017/0312/25658.html</string>
		<key>time</key>
		<string>03-12</string>
		<key>title</key>
		<string>北京及胜负过关302比赛延迟</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://mapi.159cai.com/discovery/notice/2017/0227/25338.html</string>
		<key>time</key>
		<string>03-09</string>
		<key>title</key>
		<string>周一303胜负玩法暂停销售</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://mapi.159cai.com/discovery/notice/2017/0125/24728.html</string>
		<key>time</key>
		<string>03-07</string>
		<key>title</key>
		<string>竞彩周二013、015比赛取消</string>
	</dict>
</array>
</plist>
